$c1: #e0e2e4;
$c2: #c6bcb6;
$c3: #96897f;
$c4: #625750;
$transparentGray: #7777;

$fontSizeLarge: calc(20px + 2vw);
$fontSizeMediumLarge: calc(16px + 1.4vw);
$fontSizeMedium: calc(12px + 1vw);
$fontSizeSmall: calc(10px + 0.8vw);
$fontSizeExtraSmall: calc(8px + 0.7vw);


$standardFont: 'IBM Plex Mono', monospace;
$Xfont: 'Permanent Marker', cursive;