@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');
@import './variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    font-family: $standardFont;
    font-style: normal;
}

body {  
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 1fr;
    width: 100vw;
    height: 100vh;

    header {
        background-color: $c3;
        grid-area: 1 / 1 / 2 / 3;
        @include flexCenter;
        flex-direction: row;
        padding: 1.5rem;
        
        .logo {
            font-family: 'IBM Plex Mono', monospace;
            font-size: $fontSizeHeader;
            color: $c1;
        }
    }
}

nav {
    grid-area: 2 / 1 / 3 / 2;
    background-color: $c4;
    section {
        @include flexCenter;
        flex-direction: column;
        h3 {
            font-style: normal;
            color: $c1;
            font-size: calc(12px + 1vw);
        }
        .divider {
            width: 80%;
            height: 2px;
            background-color: $c2;
        }
    }
}

.main {
    background-color: $c1; 
    grid-area: 2 / 2 / 3 / 3;   
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;

    &.settings {
        font-size: $fontSizeHeader;
        color: $c1;
        margin-left: auto;
    }
}

div.main {
    background-color: $c2;
}